html, body, main {
    width: 100%;
    height: 100%;
}

section {
    overflow-y: auto;
}

.boll {
    animation-name: opacity;
    animation-duration: 1s;
}

.color {
    background: #26a690;
}

.fixed-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.form {
    animation-name: scale;
    animation-duration: 1.5s;
}

hr {
    border-color: #fff!important;
}

.alert {
    padding: 1em;
    margin-top: 2em;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.alert.danger {
    background-color: #ee6e73;
    color: #fff;
}

.danger {
    color: #ee6e73;
}

.card_img_perfil {
    display: flex;
    margin: 2em 0;
}

.card_img_perfil > div {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: auto;
    background: #ccc;
    color: #fff; 
}

.card_img_perfil > div > span{
    margin: auto;
    font-size: 2.8em;
}

.sidenav-trigger {
    margin: 0!important;
}

.background {
    display: flex; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    background-image: linear-gradient(225deg,#d0fff7, #26a690);
}

.form {
    width: 350px; 
    margin: auto; 
    padding: 2em 2em; 
    background: #fff; 
    z-index: 3;
}

.lateral {
    position: sticky; 
    top: 0px; 
    display: block;
}

.lateral_s:hover {
    overflow-y: scroll;
}

.boll {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    position: fixed;
    background-image: linear-gradient(45deg,#d0fff7, #26a690);
}

@keyframes opacity {
    from {
        margin-top: -500px;
        margin-right: -300px;
        opacity: 0;
    }  
    to {
        margin-top: 0;
        margin-right: 0;
        opacity: 1;
    }
}

@keyframes scale {
    from {
        transform: scale(0.8);
    }  
    to {
        transform: scale(1);
    }
}

